@import '../../../../../mixins';
@import '../../../../../variables';
.btn-custom {
    border: 1px solid white !important;
    color: #db1d29;
    background: #fff;
}

.card-row {
    margin-left: 0;
    margin-right: 0;
}

.dispatch-board-top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    @include breakpoint(phone-landscape) {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-pills.nav-pills-custom {
        padding-bottom: 0;
        display: flex;
        align-items: center;
        padding: 0 10px;
        .nav-item {
            margin-top: 0;
            // margin-bottom: 10px;
            @include breakpoint(laptopview) {
                margin-bottom: 10px;
            }
        }
    }
}

.stretch-card {
    display: block;
}

.example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .img-header{
    position: relative;
  }
  .publish-ribbon{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 5px;
    color: white;
  }
  .featured-icon{
    position: absolute;
    top: 8px;
    left: 10px;
    color: gold;
  }
  .badge-danger
{
  background-color: #db1d29 !important;
  border-radius: 0%;
}
.badge-danger:hover
{
  background-color: #ffff !important;
  color:#db1d29 !important;
  border: 1px solid #db1d29;
  border-radius: 0%;
}
.mat-menu-content,.matMenu
{
  padding: 0 !important;
}
.mr-2

{
  margin-right: 20px;
}
