<div class="modal-head">
    <h4>Detail</h4>
    <i class="material-icons" (click)="closeDialog()">close</i>
</div>
<div class="modal-body">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel nulla eaque accusamus quaerat rem ducimus autem tenetur suscipit porro sequi neque excepturi pariatur praesentium maxime, eos a libero aperiam cum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel nulla eaque accusamus quaerat rem ducimus autem tenetur suscipit porro sequi neque excepturi pariatur praesentium maxime, eos a libero aperiam cum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel nulla eaque accusamus quaerat rem ducimus autem tenetur suscipit porro sequi neque excepturi pariatur praesentium maxime, eos a libero aperiam cum?</p>
</div>